        <ul>
            {% if previous_page_number  %}
            <li><a href="{{url}}&page={{previous_page_number}}">上一页</a></li>
            {% endif %}
            {% if page_list|first > 1 %}
                <li><a href='{{url}}'>首页</a></li>
            {% endif %}
            {% for p in page_list %}
                {% ifequal number p %}
                    <li class="active">
                        <a href="#">{{number}}</a>
                    </li>
                {% else %}
                    <li><a href="{{url}}&page={{p}}">{{p}}</a></li>
                {% endifequal %}
            {% endfor %}
            {% if page_list|last < num_pages %}
                <li><a href='javascript:;'>...</a></li>
                <li><a href='{{url}}&page={{num_pages}}'>{{num_pages}}</a></li>
            {% endif %}
            {% if next_page_number and next_page_number != number %}
                <li><a href="{{url}}&page={{next_page_number}}">下一页</a></li>
            {% endif %}
        </ul>
