{% extends "admin/base_site.html" %}

{% load url from future %}
{% load i18n l10n admin_urls %}
{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="../../">{% trans '主页' %}</a>
    &rsaquo; <a href="../">{{ app_label|capfirst|escape }}</a>
    &rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
    &rsaquo; {% trans '批量添加问题' %}
</div>
{% endblock %}

{% block content %}
    <p>{% blocktrans %}给{{count}}个article添加问题{% endblocktrans %}</p>
    <form action="" method="post">{% csrf_token %}
        <div>
            <table>{{form.as_table}}</table>
            <input type='hidden' name='post' value='yes' />
            <input type='hidden' name='action' value='{{action}}' />
            <input type='submit' value='提交' />
        </div>
    </form>
{% endblock %}
